actionlib==1.14.0
angles==1.9.13
beautifulsoup4==4.12.3
bondpy==1.8.6
catkin==0.8.10
catkin-pkg==1.0.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
distro==1.9.0
docutils==0.20.1
dynamic-reconfigure==1.7.3
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
google==3.0.0
image-geometry==1.16.2
interactive-markers==1.12.0
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
laser-geometry==1.6.7
message-filters==1.16.0
moveit-commander==1.1.13
moveit-core==1.1.13
moveit-ros-planning-interface==1.1.13
moveit-ros-visualization==1.1.13
numpy==1.24.4
protobuf==5.27.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-qt-binding==0.4.4
PyYAML==6.0.1
qt-gui==0.4.2
qt-gui-cpp==0.4.2
resource-retriever==1.12.7
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.1
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-gui==0.5.3
rqt-multiplot==0.0.12
rviz==1.14.20
sensor-msgs==1.13.1
six==1.16.0
smclib==1.8.6
soupsieve==2.5
srdfdom==0.6.4
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
topic-tools==1.16.0
trac-ik-python==1.6.6
urdfdom-py==0.4.6
xacro==1.14.16
numpy-quaternion
scipy==1.10.1
torch
