<launch>
    <!-- <arg name="robot_type" default="go1" doc="Robot type: [a1, aliengo, go1, laikago]"/>
     -->
    <rosparam file="$(find mujoco_cpp)/launch/defaultQpos.yaml" command="load" />
    <arg name="legged_robot_scene" default="$(find kuavo_assets)/models/biped_s$(optenv ROBOT_VERSION 40)/xml/scene.xml"/>
    <param name="legged_robot_scene_param" value="$(arg legged_robot_scene)" />
    <node name="mujoco_cpp" pkg="mujoco_cpp" type="mujoco_cpp_simulate" respawn="false"  output="screen"/>
</launch>
 