<?xml version="1.0" ?>

<launch>
    <arg name="rviz"               default="false" />
    <group if="$(arg rviz)">
      <arg name="rvizconfig" default="$(find trace_path)/rviz/trace_path_demo.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group>
    
    <node pkg="trace_path" type="follow_s_curve_traj" name="follow_square_trafollow_s_curve_traj_demo" output="screen"/>
</launch>